<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>User Dashboard</title>
</head>
<body>
    <div class="wrapper p-3">
        <nav class="col-12 d-flex justify-content-center">
            <div class="d-flex col-11 p-5 justify-content-between ">
                <div class="nav_left">
                    <h1>Clothing Guide</h1>
                </div>
                <div class="nav_right d-flex justify-content-end">
                    <a href="/user/dashboard">HOME</a> | <a href="">My Profile</a> | <a href="/user/logout">LOGOUT</a>
                </div>
            </div>
        </nav>
        <main class="d-flex justify-content-evenly">
            <div class="side_bar p-3">
                <div class="side_bar_content p-3 border border-radius-3 border-dark border-3 rounded rounded-3">
                    <div class="side_bar_title">
                        <h3>Your Profile</h3>
                    </div>
                    <div class="side_bar_body">
                        <h4>{{session['name']}}</h4>
                        {% if user.children|length > 0: %}
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <td>Child Name</td>
                                        <td>Options</td>
                                    </tr>
                                </thead>
                                    {% for child in user.children%}
                                        <tbody>
                                            <tr>
                                                <td>{{child.name}}</td>
                                                <td><a href="/child/show/{{child.id}}">Profile</a></td>
                                                <td><a href="/child/delete/{{child.id}}">Delete</a></td>
                                            </tr>
                                        </tbody>
                                    {% endfor %}
                            </table>
                        {% else: %}
                            <p>Add Children Below</p>
                        {% endif %}
                    </div>
                    <div class="add_child">
                        <h3>Add Child</h3>
                        <form action="/child/create" method="POST">
                            <input type="hidden" name="user_id" value="{{session['id']}}">
                            <div class="mb-3">
                                <label class="col-4" for="child_name">Name:</label>
                                <input class="col-7" type="text" name="child_name">
                            </div>
                            <div class="mb-3">
                                <label class="col-4" for="child_height">Height:</label>
                                <input class="col-7" type="number" name="child_height">
                            </div>
                            <div class="mb-3">
                                <label class="col-4" for="child_weight">Weight:</label>
                                <input class="col-7" type="number" name="child_weight">
                            </div>
                            <div class="mb-3">
                                <label class="col-4" for="child_sole_length">Sole Length:</label>
                                <input class="col-7" type="number" name="child_sole_length">
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-success" type="submit">Add Child</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="hero col-8 p-3 ">
                <div class="search_bar d-flex p-3 border border-radius-3 border-dark border-3 rounded rounded-3 mb-5">
                    <h2 class="col-3 d-flex align-items-center">Quick Search</h2>
                    <!-- <div class="search_type_selection d-flex">
                        <label for="search_type">Search Type:</label>
                        <select name="search_type" id="search_type">
                            <option value="clothes">Clothes</option>
                            <option value="shoes">Shoes</option>
                            <option value="pajamas">Pajamas</option>
                        </select>
                    </div> -->
                    <div class="search_form col-9">
                        <form action="*******" class="col-12 d-flex justify-content-between align-items-center">
                            <!-- <label for="select_child">Select Child</label>
                            <select name="select_child" id="select_child">
                                <option value="child_1">***** child 1 ****</option>
                                <option value="child_2"> **** child 2 ***</option>
                            </select> -->
                            <div class="col-3 d-flex flex-column  align-middle">
                                <label for="weight">Weight:</label>
                                <input type="number" name="weight">
                            </div>
                            <div class="col-3 d-flex flex-column">
                                <label for="height">Height:</label>
                                <input type="number" name="height">
                            </div>
                            <div class="col-3 d-flex flex-column">
                                <label for="brand">Brand:</label>
                                <select name="brand_type" id="brand_type">
                                    <option value="all_brands">All Brands</option>
                                    <option value="brand_1">Brand 1</option>
                                    <option value="brand_2">Brand_2</option>
                                </select>
                            </div>
                            <div class="col-1">
                                <button type="submit">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="results p-3 border border-radius-3 border-dark border-3 rounded rounded-3">
                    <div class="results_header d-flex justify-content-between">
                        <h2>Child Name: 
                            <span>
                                <select name="display_child" id="display_child">
                                    {% if user.children|length > 0: %}
                                        {% for child in user.children%}
                                            <option value="{{child.name}}">{{child.name}}</option>
                                        {% endfor %}
                                        {% else: %}
                                            <option value="none">none</option>
                                        {% endif %}
                                </select>
                            </span>
                        </h2>
                        <div class="result_filter">
                            <label for="result_filter"></label>
                            <select name="result_filter" id="result_filter">
                                <option value="most_recent">Most Recent</option>
                                <option value="pajamas">Pajamas</option>
                                <option value="clothes">Clothes</option>
                                <option value="brand_1">*** Brand 1 ****</option>
                            </select>
                        </div>
                    </div>
                    <div class="result_body d-flex">
                        <div class="result_card p-3 border border-radius-3 border-dark border-3 rounded rounded-3 col-3">
                            <div class="d-flex justify-content-center">
                                <p>Suggestion Title</p>
                            </div>
                            <table class="table">
                                <tr>
                                    <td>Sizing</td>
                                    <td>*****</td>
                                </tr>
                                <tr>
                                    <td>Brand</td>
                                    <td>*****</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <footer class="d-flex flex-column text-center">
        <a href="https://www.flaticon.com/free-icons/user" title="user icons">User icons created by Saepul Nahwan - Flaticon</a>
        <a href="https://www.flaticon.com/free-icons/logout" title="logout icons">Logout icons created by Pixel perfect - Flaticon</a>
    </footer>
</body>
</html>